<h1> New malnutrition inquiry postedï¼</h1>
<h4>name: <%= @patient.patient_name %></h4>
<h4> Confirmation of New Malnutrition patient has been posted </h4>
<p><%= image_tag @patient.image.url, class:"img-fluid" %></p>
<p>content: <%= @patient.description %></p>